<a href="https://colab.research.google.com/github/DorothyEwuah/PyLadies-DS-Project/blob/master/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Introduction to Python Programming by Dorothy Ewuah**
Adapted from SoloLearn's [Python for Beginners Course](https://www.sololearn.com/learning/1157)

In this tutorial, we will cover the following:



1.   Strings
2.   Math Operations
3.   Variables
4.   Control Flow
5.   Lists
6.   Functions
7.   Dictionaries

In [ ]:
# Your very first line of code
print('Hello world!')

Hello world!

In [ ]:
# Basic Arithmetic operations
print(5 + 4 -3)
print(2 * (3 + 4)) 

# what will the output of this be and why
print((4 + 8) / 2)

6
14
6.0

####**Practice 1: Ever wondered how many seconds are there in a month (30 days)? Write a program to calculate and output the answer.**

 

> *Remember, there are 24 hours in a day, 60 minutes in an hour, and 60 seconds in a minute. Use the print() statement to output the result.*

In [ ]:
print (30 *24 * 60 * 60)

2592000

##**Data Types**



```
#A quick revisit.
List the data types you remember
```

In [ ]:
# Exponentiation

print(2**2) #2 raised to the power 2
print(2**3**2.) 
print(9 **(1/2))

4
512.0
3.0

###**Practice 2:**
Did you know that there are more bacteria cells in your body than cells that make up your body? Weird!

A bacteria culture starts with 500 bacteria and doubles in size every hour.
Which means, after 1 hour the number of bacteria is 1000, after 2 hours 2000, and so on.

Let’s calculate and output the number of bacteria that will be in the culture after 24 hours.
>*The formula to calculate the bacteria after N hours will be: 500**2ᴺ

In [ ]:
print(500 * (2**24))

8388608000

###**Floor Division & Remainder**

In [ ]:
#print(20 // 6)

print(20 % 6)
print(1.25 % 0.5)
print(20%2)

#print(7 % (5 // 2))

2
0.25
0

###**Practice 3: Write a program to calculate the number of hours in 888 minutes**

In [ ]:
print(888 / 60)

14.8

###**Practice 4:** Flight Time


You need to calculate the flight time of an upcoming trip. You are flying from LA to Sydney, covering a distance of 7425 miles, the plane flies at an average speed of 550 miles an hour.

Calculate and output the total flight time in hours.

Hint: 
The result should be a float.
Use the print statement to output the result.

In [ ]:
print((7425 / 550))

13.5

###**Strings**

In [ ]:
print('I love Python')

print('Brian\'s mother: He\'s not an angel. He\'s a very naughty boy!')

# new line
print('One \nTwo \nThree')

# add tab
print('One \tTwo \tThree')

# multilines
print("""
this 
is a multiline
 text
""")

#concatenation
print("Python" + 'rocks')
print("2" + "2")

#string operations
print("Python" * 3)
print('2' * 4)

I love Python
Brian's mother: He's not an angel. He's a very naughty boy!
One
Two
Three
One 	Two 	Three

this
is a multiline
 text

Pythonrocks
22
PythonPythonPython
2222

###**Variables**
>Don’t forget, Python is a case sensitive language. Which means, Lastname and lastname are two different variable names.

In [ ]:
age = 100
print(age)

x = 123.456
print(x)

x = "This is a string"
print(x + "!")

100
123.456
This is a string!

###**Practice 5:**

Complete the code for a contact management system, where name and age are the declared variable values

In [ ]:
name = "Alice"
age = 20

In [ ]:
# Accepting Input

# x = input()
# print(x)

name = input("Enter your name: ")
print("Hello " + name )


# Input Conversion
age = int(input("Enter your age:"))
print(age)
print ("Your age is " + str(age))

In [ ]:
# Performing math operations with user input
print("This is a program to add two numbers")
x = int(input("Please type the first number to add"))
y = int(input("Please type the second number to add"))
z = x + y
print("The sum of " + str(x) + " and " + str(y) + " is " + str(z))

###**Other Exercises:**
Change the code in contact card program to take the name and age from user input and use then in the output

In [ ]:
# In-Place Operators
# x = x + 3
# print(x)

# x+=3
# print(x)
x = 8
x*="Python"
print(x)

In [ ]:
# Booleans
my_boolean = True
print(my_boolean)
x = 7

print(x != 8)
print(x > 5)
print(x < 2)
print(x >= 7)
print(x <= 7)

True
True
True
False
True
True

In [ ]:
# if Statements

x = 42
if x > 5:
   print("x is greater than 5")

x is greater than 5

In [ ]:
num = 12
if num > 5:
   print("Bigger than 5")
   if num <= 47:
      print("Between 5 and 47")

Bigger than 5
Between 5 and 47

In [ ]:
# else statements

x = 4
if x == 5:
   print("Yes")
else:
   print("No")

No

In [ ]:
num = 3
if num == 1:
  print("One")
else: 
  if num == 2:
    print("Two")
  else: 
    if num == 3: 
      print("Three")
    else: 
      print("Something else")

In [ ]:
# elif

num = 3
if num == 1:
  print("One")
elif num == 2:
  print("Two")
elif num == 3: 
  print("Three")
else: 
  print("Something else")

###**Practice 7: You need to write a program to check whether a year is a leap year or not**

In [ ]:
print("Please enter a year: ")
yearEntered = int(input())

if((yearEntered % 400 ==0) or (yearEntered % 100 != 0) and (yearEntered % 4 ==0 )):
    yearEntered = str(yearEntered)
    print( "Great, " + yearEntered + " is a leap year")
else:
    yearEntered = str(yearEntered)
    print( yearEntered + " is not a leap year")

Please enter a year:
1997
1997 is not a leap year

In [ ]:
# Boolean Logic

if (1 == 1) and (2 + 2 > 3):
  print("true")
else:
  print("false")

true

In [ ]:
# Boolean Or

age = 15
money = 500 
if age > 18 or money > 100:
  print("Welcome")

In [ ]:
# Boolean Not
if not True:
   print("1")
elif not (1 + 1 == 3):
   print("2")
else:
   print("3")

###**While Loops**

In [ ]:
i = 1
while i <=5:
   print(i)
   i = i + 1

print("Finished!")

1
2
3
4
5
Finished!

In [ ]:
x = 1
while x < 10:
  if x % 2 == 0:
    print(str(x) + " is even")
  else:
    print(str(x) + " is odd")

  x += 1

###**Break**

In [ ]:
i = 0
while True:
  print(i)
  i = i + 1
  if i >= 5:
    print("Breaking")
    break

print("Finished")

###**Practice 8: Do the Math**

Make a calculator that should add multiple numbers taken from input and output the result

In [ ]:
number = ""
total = 0

while (number != "stop"):
  number = (input("Please enter a number to add to accumulator or 'stop' to display the final sum: "))
  if(number == "stop"):
    break
  else:
    total += int(number)

print("The sum is: " + str(total))

Please enter a number to add to accumulator or 'stop' to display the final sum: stop
The sum is: 0

###**Continue**

In [ ]:
i = 0
while i < 5:
  i += 1
  if i==3:
    print("Skipping 3")
    continue
  print(i)

1
2
Skipping 3
4
5

###**Practice 9: BMI Calculator**

>This is the formula : weight / height²

The resulting number indicates one of the following categories:

* Underweight = less than 18.5  
* Normal = more or equal to 18.5 and less than 25  
* Overweight = more or equal to 25 and less than 30  
* Obesity = 30 or more

Let’s make finding out your BMI quicker and easier, by creating a program that takes a person's weight and height as input and outputs the corresponding BMI category.

In [ ]:
# your code goes here

weight = float(input("Please enter your weight (kg): "))
height = float(input("Please enter your height (m): "))

BMI = weight / (height**2)
BMI = round(BMI, 2)
print("Your BMI is: " + str(BMI) + " and your status is: ")

if(BMI < 18.5):
    print("Underweight")
elif(BMI >= 18.5 and BMI < 25):
    print("Normal")
elif(BMI >= 25 and BMI < 30):
    print("Overweight")
elif(BMI >= 30):
    print("Obesity")
else:
    print("Out of range")

###**Lists**

In [ ]:
words = ["Hello", "world", "!"]
print(words[0][0])
print(words[1])
print(words[2]) 

m = [
    [1, 2, 3],
    [4, 5, 6]
    ]
    
print(m[1][2])

H
world
!
6

In [ ]:
# string indexing

x = "Python"
print(x[1] + x[4])

yo

In [ ]:
# List Operations
nums = [1, 2, 3]
print(nums + [4, 5, 6])
print(nums * 3)

x = [2,4]
x += [6,8]
print(x[2] // x[0])

In [ ]:
# Check if an item is in a list with the 'in' operator

nums = [10, 9, 8, 7, 6, 5]

num_to_check = 7

if num_to_check in nums:
  print(num_to_check, "is found in list") # the comma signcan be used for concatenation instead of the + sign and an extra space
else:
  print(num_to_check, "cannot be found in list")

In [ ]:
# Check if an item is not in a list with the not in operator
letters = ['a', 'b', 'z']

if 'c' not in letters:
  print("Yes")

###**For Loops**

In [ ]:
letters = ['a', 'b', 'z']

for l in letters:
  print(l)

In [ ]:
# Count the number of times a letter appears in a string
str = "testing for loops"
count = 0

for x in str:
  if(x == 't'):
    count += 1

print(count)

###**Range**

In [ ]:
nums = list(range(5))
print(nums)

In [ ]:
numbers = list(range(3, 8))
print(numbers)

In [ ]:
print(range(20) == range(0,20))

In [ ]:
# Step in range
nums = list(range(0, 15, 2))
print(nums)

In [ ]:
# forloops with ranges
for i in range(5):
  print("hello!")

###**List Slices. Yum :-|)**

In [ ]:
squares = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
print(squares[2:6])
print(squares[3:8])
print(squares[0:1])

In [ ]:
# Just like the arguments to range, the first index provided in a slice is included in the result, but the second isn't.

# a missing number
squares = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
print(squares[:7])
print(squares[7:])
#If the first number in a slice is omitted, it’s taken to be the start of the list.
#If the second number is omitted, it’s taken to be the end.

In [ ]:
# a third number
squares = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
print(squares[::2])
print(squares[2:8:3])

sqs = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
print(sqs[1::4])

In [ ]:
# negative numbers
squares = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
print(squares[1:-1])
print(squares[::-1])

[1, 4, 9, 16, 25, 36, 49, 64]
[81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

###**Functions**

In [ ]:
#getting the length of the list with len
nums = [1, 3, 5, 2, 4]
print(len(nums))

#appending to a list
nums = [1, 2, 3]
nums.append(4)
print(nums)

#inserting into a list
words = ["Python", "fun"]
index = 1
words.insert(index, "is")
print(words) 

#index
letters = ['p', 'q', 'r', 's', 'p', 'u']
print(letters.index('r'))
print(letters.index('p'))
print(letters.index('q')) 

#other useful functions

numberList = [1,20,3,10,40,2,55,8,30,1,4,10]
print(max(numberList))   #Returns the maximum value.
print(min(numberList))  #Returns the minimum value

print(numberList.count(1)) #Returns a count of how many times an item occurs in a list.
print(numberList.remove(1)) #Removes an item from a list.
print(numberList.reverse()) #Reverses items in a list.

###**Dictionaries**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "key" : "value"
}
print(thisdict)
print(thisdict["brand"])
print(thisdict["key"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'key': 'value'}
Ford
value

Python provides another composite data type called a dictionary, which is similar to a list in that it is a collection of objects.


Dictionaries and lists share the following characteristics:

> Both are mutable.
Both are dynamic. They can grow and shrink as needed.
Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.
Dictionaries differ from lists primarily in how elements are accessed:

List elements are accessed by their position in the list, via indexing.
>Dictionary elements are accessed via keys.